.csconfig/
_configuration.mk
branch/testpred/src/Build/build_bsim
*/build_bsim
branch/testpred/src/Build/dump.vcd
*/dump.vcd
branch/testpred/src/Build/mkTestbench_bsim
*/mkTestbench_bsim

branch/bsv/perceptron/Build/dump.vcd
branch/bsv/perceptron/Build/build_bsim
branch/bsv/perceptron/Build/mkTestbench_bsim
branch/bsv/bht/Build/dump.vcd
branch/bsv/bht/Build/build_bsim
branch/bsv/bht/Build/mkTestbench_bsim
branch/bsv/tour/Build/dump.vcd
branch/bsv/tour/Build/build_bsim
branch/bsv/tour/Build/mkTestbench_bsim

*.txt
# Can ignore text, but include when submitting?
*.ipynb
*.png
*.pdf
*.xz
*.vcd
*.h
*.cxx
*.ba
*.bo
*_bsim
*_bsim.so
*.so

**/__pycache__/
*.pyc

bin/

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

**/_build
**/_doxygen

build/*

.vscode/*
